* {
    font-family: Helvetica;
}
a{
    text-decoration: none;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color:cornflowerblue;
    opacity: 90%;
    border: 3px solid black;
    border-radius: 15px;
}

th{
    border-bottom: 3px solid black;
            }
td a{
    border: 2px solid black;
    border-radius: 10px;
    background: black;
    padding:15px;
    color:red;
    display: inline-block;
    }
td a:hover {
    border: 2px solid black;
    background: white;
}

il a{
    background: white;
    
}